.shimmerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: loading 2.5s infinite;
}

.shimmer {
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.01);
  transform: skewX(-20deg);
  box-shadow: 0 0 20px 20px rgba(61, 40, 40, 0.05);
}

@keyframes loading {
  0% {
    transform: traslateX(-150%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(150%);
  }
}
