.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #2b2b2b;
}

.logo {
  width: 60px;
  margin-bottom: 20px;
  transition: opacity 0.3s linear;
}

.logo:hover {
  transition: opacity 0.3s linear;
  opacity: 0.7;
}

.list {
  list-style: none;
  padding: 20px 0 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.listItem {
  margin-right: 20px;
}

.listItem:last-of-type {
  margin-right: 0;
}

.link {
  text-decoration: none;
  color: #fff;
  outline: none;
  transition: opacity 0.3s linear;
}

.link:focus {
  color: #ffc700;
}

.link:hover {
  transition: opacity 0.3s linear;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    margin-bottom: 0;
  }

  .list {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
}
