.section {
  padding-top: 20px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  padding-bottom: 20px;
  margin: 0;
}

.text {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.taskListItem {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.subTitle {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  padding: 40px 0 0;
}

.toolsList {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 20px;
}

.toolsListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.logoImg {
  width: 80px;
  height: 80px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .toolsList {
    display: flex;
    justify-content: center;
  }

  .toolsListItem {
    margin-right: 40px;
    margin-bottom: 0;
  }

  .toolsListItem:last-of-type {
    margin-right: 0;
  }

  .logoImg {
    margin-bottom: 20px;
  }
}
